<div class="board">
  <!--<button (click)="row_count = (row_count == 0) ? 0 : row_count - 1; $event.stopPropagation()">-</button> Row
  <button (click)="row_count = row_count + 1; $event.stopPropagation()">+</button>-->
  <div class="blocks"
       [style.width.px]="block_size * col_count + margin * (col_count - 1)"
       [style.height.px]="block_size * row_count + margin * (row_count - 1)">
    <ng-template ngFor let-id [ngForOf]="(col_count * row_count) | rangeArray">
      <div class="block" [ngStyle]="getStylesForBlockFor(id)"
            (click)="blockClicked(id); $event.stopPropagation()">
        {{showOriginalPos ? id : ""}}
      </div>
    </ng-template>
  </div>
  <div class="result-wrapper" *ngIf="showingResult">
    <div class="result">
      <p>
        Congratulations!
      </p>
      <button (click)="closeResult()">Restart</button>
    </div>
  </div>
</div>
<br>
<label><input type="checkbox" [(ngModel)]="showOriginalPos">Show Original Tile Positions</label>
